
  .text{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: white;
  }
  .text:before{
    content: 'RiRi';
    color: black;
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.9s;
  }
  .text:hover:before{
    width: 100%;
  }
  
  