

body {
  display: flex;
  justify-content: center;
  background-color: #434343

}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: white;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /*border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  font-size: 100px;
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}






#YT {
  position: absolute;
  top: 20%;
  left:30%;
}
#YTI {
  position: absolute;
  left: 35%;
}
#GH {
  position: absolute;
  top: 20%;
  left:45%;
}
#GHI {
  position: absolute;
  left: 35%;
}
#NM {
  position: absolute;
  top: 20%;
  left:60%;
}
#NMI {
  position: absolute;
  left: 35%;
}
#DC {
  position: absolute;
  top: 20%;
  left:60%;
}
#DCI {
  position: absolute;
  left: 36%;
}

#google {
  align-items: center;
  position: absolute;
  top: 80%;
  left: 36%;
}


#googleicon {
  align-items: center;
  position: absolute;
  left:36% ;
}
#microsoft {
  align-items: center;
  position: absolute;
  top: 80%;
  left: 56%;
}
#microsofticon {
  align-items: center;
  position: absolute;
  left:38% ;
}

#feedback {
  position: absolute;
  align-self: center;
  align-items: center;
  top: 75%;
  left: 49.5%;
  
}
#content {
  position: absolute;
  align-self: center;
  align-items: center;
  top: 49%;
  left: 49.5;
  
}

#Csharp {
    position: absolute;
    align-self: center;
    align-items: center;
    left: 65%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    /*color: #fff;*/
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: white;
    background-color: #434343;
}
#MC {
    position: absolute;
    align-self: center;
    align-items: center;
    left: 35%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    background-color: white;
}
#changelog {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    background-color: white;
}
#Csharp:hover{
    background-color: white;
}
#Java:hover{
    background-color: white;
}
#MC:hover{
    background-color: white;
}
#changelog:hover{
    background-color: white;
}

.middle{
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }
  .btn{
    display: inline-block;
    width: 90px;
    height: 90px;
    background: #434343;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: white;
    overflow: hidden;
    position: relative;
  }
  .btn i{
    line-height: 90px;
    font-size: 26px;
    transition: 0.2s linear;
  }
  .btn:hover i{
    transform: scale(1.3);
    color: #434343;
  }
  .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: white;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
  }
  .btn:hover::before{
    animation: aaa 1.0s 1;
    top: -10%;
    left: -10%;
  }
  @keyframes aaa {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 10%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
  

* {
    margin: 0;
    padding: 0;
    }
    .box {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: lato;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    }
    .box div {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
    background: rgba(255,255,255,.5);
    border-radius: 15px;
    }
    .box div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
    }
    .box div:nth-child(2) {
    top: 26%;
    left: 89%;
    animation: animate 10s linear infinite;
    }
    .box div:nth-child(3) {
    top: 80%;
    left: 90%;
    animation: animate 5s linear infinite;
    }
    .box div:nth-child(4) {
    top: 65%;
    left: 75%;
    animation: animate 7s linear infinite;
    }
    .box div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
    }
    .box div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
    }
    .box div:nth-child(7) {
    top: 70%;
    left: 33%;
    animation: animate 8s linear infinite;
    }
    .box div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
    }
    .box div:nth-child(9) {
    top: 23%;
    left: 50%;
    animation: animate 6s linear infinite;
    }
    .box div:nth-child(10) {
    top: 35%;
    left: 7%;
    animation: animate 10s linear infinite;
    }
    @keyframes animate {
    0% {
    transform: scale(0) translateY(0) rotate(50deg);
    }
    100% {
    transform: scale(1.6) translateY(-250px) rotate(360deg);
    }
    }
    