body {
    background-color: #003087;
}

#MYLE {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
.mc:hover {
    background-color: #307FE2;
}
#MYLEYT {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#MYLEINFO {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#RME {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RMEINFO {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RMEYT {
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}


#RDE {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RDEINFO {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RDEYT {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#UCR {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#UCRINFO {
    position: absolute;
    top: 40%;
    left:55.4%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#UCRYT {
    position: absolute;
    top: 40%;
    left: 85.5%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}




* {
    margin: 0;
    padding: 0;
    }
    .box {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-family: lato;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 60px;
    }
    .box div {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: animate 4s linear infinite;
    background: rgba(255,255,255,.5);
    border-radius: 15px;
    }
    .box div:nth-child(1) {
    top: 20%;
    left: 20%;
    animation: animate 8s linear infinite;
    }
    .box div:nth-child(2) {
    top: 26%;
    left: 89%;
    animation: animate 10s linear infinite;
    }
    .box div:nth-child(3) {
    top: 80%;
    left: 90%;
    animation: animate 5s linear infinite;
    }
    .box div:nth-child(4) {
    top: 65%;
    left: 75%;
    animation: animate 7s linear infinite;
    }
    .box div:nth-child(5) {
    top: 90%;
    left: 10%;
    animation: animate 9s linear infinite;
    }
    .box div:nth-child(6) {
    top: 30%;
    left: 60%;
    animation: animate 5s linear infinite;
    }
    .box div:nth-child(7) {
    top: 70%;
    left: 33%;
    animation: animate 8s linear infinite;
    }
    .box div:nth-child(8) {
    top: 75%;
    left: 60%;
    animation: animate 10s linear infinite;
    }
    .box div:nth-child(9) {
    top: 23%;
    left: 50%;
    animation: animate 6s linear infinite;
    }
    .box div:nth-child(10) {
    top: 35%;
    left: 7%;
    animation: animate 10s linear infinite;
    }
    @keyframes animate {
    0% {
    transform: scale(0) translateY(0) rotate(50deg);
    }
    100% {
    transform: scale(1.6) translateY(-250px) rotate(360deg);
    }
    }
    