body {
    display: flex;
    justify-content: center;
    background-color: #434343
  
}

#MYLE {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
.mc:hover {
    background-color: #307FE2;
}
#MYLEYT {
    position: absolute;
    top: 10%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#MYLEINFO {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#RME {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RMEINFO {
    position: absolute;
    top: 20%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RMEYT {
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#SCP {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#SCPINFO {
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#SCPYT {
    position: absolute;
    top: 30%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}


#RDE {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RDEINFO {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RDEYT {
    position: absolute;
    top: 40%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#SC {
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#SCYT {
    position: absolute;
    top: 10%;
    left: 75.5%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#UE {
    position: absolute;
    top: 17%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#UEYT {
    position: absolute;
    top: 17%;
    left: 75.5%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#TFC {
    position: absolute;
    top: 24%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#TFCYT {
    position: absolute;
    top: 24%;
    left: 75.5%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}
#RUC {
    position: absolute;
    top: 31%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#RUCYT {
    position: absolute;
    top: 31%;
    left: 75.5%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#IP {
    position: absolute;
    top: 38%;
    left: 25%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}

#IPYT {
    position: absolute;
    top: 38%;
    left: 75.5%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background-size:400%;
    border-radius: 30px;
    z-index: 1;
    color: #7FADE3;
    
}






    
  